[workspace]
members = [
    "lib",
    "cli",
    "daemon",
]

[profile.release]
opt-level = 3
debug = false
lto = false

[patch.crates-io]
x25519-dalek = { git = "https://github.com/untoldwind/x25519-dalek.git"}
openssl = { git = "https://github.com/untoldwind/rust-openssl.git" }