[Unit]
Description=T-Rust-Less daemon

[Service]
Type=simple
ExecStart=/home/bjunglas/.cargo/bin/t-rust-less-daemon

[Install]
WantedBy=i3-session.target

